:root {
    --white: #FFFFFF;
    --dark-blue: #09243A;
    --dark-blue-bis: #08243A;
    --salmon: #E3765B;
    --yellow: #FCD647;
    --beige: #F9EEE1;
    --dark: #000000;

    --txt: var(--dark);
    --txt-white: var(--white);
    --bg-header: var(--dark-blue-bis);
    --bg-communication: var(--yellow);
}