:root {
    --primary: #FFFFFF;
    --secondary: #09243A;
    --tertiary: #08243A;
    --quaternary: rgba(9, 36, 58, 0.85);
    --quinary: #E3765B;
    --senary: #FCD647;
    --septenary: #F9EEE1;
    --octonary: #000000;
    --nonary: rgba(255, 255, 255, 0.31);

    --txt-dark: var(--octonary);
    --txt-light: var(--primary);
    --txt-promote: var(--quinary);
    --bg-header: var(--tertiary);
    --bg-communication: var(--senary);
    --bg-card: var(--tertiary);
    --bg-about-bottom: var(--senary);
    --bg-comments: var(--septenary);
    --bg-offers: var(--secondary);
    --bg-card-offer: var(--primary);
    --card-title: var(--secondary); 
    --bg-card-link: var(--senary);
    --bg-overlay: var(--quaternary);
    --bg-light: var(--primary);
    --bg-popin-header: var(--senary);
    --bg-footer: var(--tertiary);
}