:root {
    --white: #FFFFFF;
    --dark-blue: #09243A;
    --dark-blue-bis: #08243A;
    --overlay: rgba(9, 36, 58, 0.85);
    --salmon: #E3765B;
    --yellow: #FCD647;
    --beige: #F9EEE1;
    --dark: #000000;

    --txt: var(--dark);
    --txt-white: var(--white);
    --bg-header: var(--dark-blue-bis);
    --bg-communication: var(--yellow);
    --bg-card: var(--dark-blue-bis);
    --bg-about-bottom: var(--yellow);
    --bg-comments: var(--beige);
    --bg-offers: var(--dark-blue);
    --bg-card-offer: var(--white);
    --card-title: var(--dark-blue); 
    --span: var(--salmon);
    --bg-card-link: var(--yellow);
    --bg-overlay: var(--overlay);
    --bg-light: var(--white);
    --bg-popin-header: var(--yellow);
}