.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}

@media screen and (min-width: 64em) {
    .container {
        max-width: 96rem;
    }
}

// @media screen and (min-width: 120em) {
//     .container {
//         max-width: 113.2rem;
//     }
// }