.popin {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: var(--bg-overlay);
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;

    .popin-container {
        background-color: var(--bg-light);
        border-radius: 3rem;
        overflow: hidden;
        height: 500px; 
        overflow-y: auto;

        .popin-header {
            background-color: var(--bg-popin-header);
            padding: 6.9rem 9.4rem 4.4rem;

        }
    }

    &.open {
        display: flex;
    }

    &.two-cards {
        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/formula-pair.png');

        }
    }
}

.popin-form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.popin-form form {
    display: flex;
    flex-direction: column;
}

.popin-form label,
.popin-form input,
.popin-form textarea {
    margin-bottom: 1rem;
}



//////////OVERFLOW-Y HIDDEN soit sur body ou html donc à voir comment ajouiter une classe pour ne pas tout bloquer